<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/assets/css/admin.css" />
  </head>
  <body>
    <h1>
      Main Template
    </h1>
    <h3>{{userID}}</h3>
  </body>
</html>